:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home{
    height: 100vh;
}

.main-img{
    background-image: url("./assets/images/main-image.webp");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.main-bg{
    background: linear-gradient(180deg, rgba(51, 51, 51, 0.98) 0%, rgba(51, 51, 51, 0.98) 100%);

}

